<!DOCTYPE html>

{% load static %}
<link rel='stylesheet' type="text/css" href="{% static './index.css' %}" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300&display=swap" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">



<div class='wrapper'>
  <form class="form">
  {% for n in form.fields %}
    <label class="label-class" for={{n.label}}>{{n.label}}</label>
      {% if n.type == 'dropdown' %}
        <select class='input-dropdown' key={{n.key}}>
          {% for m in n.items %}
            <option value={{m.value}}>{{m.text}} </option>
          {% endfor %}
        </select> </br>
      {% else %}
        <input class='input-text' type={{n.type}} key={{n.key}} required={{n.isRequired}}/>
        {% if unit != '' %}
          <p>{{n.unit}}</p>
        {% endif %}
      {% endif %}
    {% endfor %}
  </form>
  <input class='button-select' type='submit' value='submit'/>
</div>
