<!DOCTYPE html>

{% load static %}
<link rel='stylesheet' type="text/css" href="{% static './index.css' %}" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300&display=swap" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<button class="button-select"  onclick="location.href='/'"> Back </button>
<div class='wrapper'>
  <form>
    <div class='form-block'>
      {% for n in form %}
      <div class="input-block">
        <label class="label bold" for={{n.label}}>{{n.label}}</label>
          {% if n.type == 'dropdown' %}
            <select class='input' key={{n.key}}>
              {% for m in n.items %}
                <option  class="select" value={{m.value}}>{{m.text}} </option>
              {% endfor %}
            </select>
          {% else %}
              <input class='input' type={{n.type}} key={{n.key}}  required/>
            {% if unit != '' %}
              <div class="unit"> {{n.unit}} </div>
            {% endif %}
          </br>
          {% endif %}
        </div>
        {% endfor %}
        <div class="submit">
          <input class='button-select sumbit' type='submit' value='submit'/>
        </div>
      </form>
    </div>
</div>
